<table>
   
    <tr value="top" style="">
        <div style="">
        <td><img src="{{ post.author.avatar(50) }}"></td>
        <td>
            &nbsp; <a href="{{ url_for('user' ,username=post.author.username) }}" style="text-decoration: none; color: coral;">
                {{ post.author.username }} 
            </a>says:<span class="post-date" style="font-size:18px;padding-left:;"> ({{ moment(post.timestamp).fromNow() }})</span>
           
            <br>
            &nbsp;&nbsp;{{ post.body }}
            {% if post.language and post.language!=g.locale %}
                <br><br>
                <a href="#">{{ _('Translate') }}</a>
            {% endif %}
        </td>
        </div>
    </tr>
    
</table>