{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base.html" %}


{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    
    {% if form %}
    <form action="" method="POST" style="padding-left: 5px;">
        {{ form.hidden_tag() }}
        <p style="padding-left:0px;">
        
         {{wtf.form_field(form.post, placeholder='type your blog post here...')}}
         {% for error in form.post.errors %}
         <span style="color:red">[{{ error }}]</span>
         {% endfor %}
        </p>
        <input type="submit" value="submit" class="btn btn-primary">
        </form>
    {% endif %}
    <hr>
    <div style="padding-left: 10px;">
    {% for post in posts %}
        {% include '_post.html' %}
        <hr>
    {% endfor %}
    </div>
    {% if prev_url %}
    <a href="{{ prev_url }}" style="background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;">{{_('Newer posts')}}</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" style="background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;">{{_('Older posts')}}</a>
    {% endif %}
{% endblock %}